.bg {
    background-color: #212529;
    background-image: linear-gradient(0deg, #333333 0%, #212529 74%);
    height: 90vh;
}

/* NAVBAR HEADER */

.nav-link {
    cursor: pointer;
}
/* CALENDAR TWEAKS */

a {
    color: black;
    text-decoration: none;
}

.fc-event-title-container {
    text-align: center;
    padding: 2px;
    cursor: pointer;
}

.fc-view-harness {
    flex-grow: 1;
    position: relative;
    background-color: darkgray;
}

.fc .fc-toolbar.fc-header-toolbar {
    background-color: rgb(80, 80, 80);
    margin-bottom: 1rem;
}

.fc-toolbar-title {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.fc .fc-button-primary:disabled {
    background-color: #212529;
}

.fc .fc-button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 2rem;
    border: none;
    margin: 3px;
}

.fc .fc-button:hover {
    background-color: #212529;
}

/* LOGIN */

.form-row.card {
    width: 27rem;
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.spacing {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes spacing {
    0% {
        letter-spacing: 15px;
    }
    100% {
        letter-spacing: 10px;
    }
}

@keyframes spacing {
    0% {
        letter-spacing: 15px;
    }
    100% {
        letter-spacing: 10px;
    }
}

.spacing {
    -webkit-animation-name: spacing;
    animation-name: spacing;
}

.login {
    height: 89vh;
}
