/* NAVBAR HEADER */

.nav-link {
    cursor: pointer;
}

/* SIDE NAVIGATION TWEAKS */
ol,
ul {
    padding: 0;
}

.side-navigation-panel-select-option-wrap,
.font-medium {
    color: black;
    font-weight: 600;
}

.border-pink-500 {
    border-color: black;
}

.border-l-2 {
    border-left-width: 3px;
}

/* CALENDAR TWEAKS */

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.fc-view-harness {
    flex-grow: 1;
    position: relative;
    background-color: darkgray;
}

.fc-header-toolbar {
    background-color: dimgray;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1rem;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #212529;
}

.fc .fc-button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    border-radius: 2rem;
    margin: 3px;
}

.fc-button:hover {
    background-color: #212529;
}

.fc-toolbar-title {
    font-weight: bold;
    color: white;
}

/* LOGIN */

.form-row.card {
    width: 27rem;
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.spacing {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes spacing {
    0% {
        letter-spacing: 15px;
    }
    100% {
        letter-spacing: 10px;
    }
}

@keyframes spacing {
    0% {
        letter-spacing: 15px;
    }
    100% {
        letter-spacing: 10px;
    }
}

.spacing {
    -webkit-animation-name: spacing;
    animation-name: spacing;
}

.login {
    height: 89vh;
}
